html {
	box-sizing: border-box;
}

body {
	font-family: Avenir;
}

header {
	background: rgb(201,187,183);
	padding: 4%;
}

footer {
		background: rgb(201,187,183);
		padding-top: 6%;
		padding-bottom: 2%;
}

footer p {
	text-align: center;
}

#container {
	width: 100%;
}

.headfoot {
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 110%;
}

.logo-top {
	width: 21%;
	position: absolute;
	top: 4%;
	right: 3%;
}

.logo-bottom {
	width: 19%;
	position: sticky;
	left: 41%;
	bottom: -10%;
}

ul {
	margin: 0;
	text-align: right;
	background: rgb(198,82,82);
	padding: 0.5%;
	padding-right: 5%;
}

li {
	list-style-type: none;
	display: inline-block;
	color: white;
	text-align: center;
	font-size: 150%;
	padding-right: 1.5%;
}

.navi {
	text-decoration: none;
	color: white;
}

h1 {
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	font-size: 440%;
}

figcaption {
	font-weight: bold;
	font-size: 217%;
	text-align: center;
}
/*
.article01 {
	text-align: center;
}
*/

.phone {
	width: 100%;
	height: 100%;
	clip-path: inset(27% 0% 27% 0%);
	margin-top: -18%;
	margin-bottom: -18%;
}

.article02 {
	width: 50%;
}

.atm {
	width: 100%;
	height: 100%;
}

.article03 {
	width: 50%;
	position: absolute;
	top: 121%;
	left: 50%;
}

.scooter {
	width: 98%;
	height: 98%;
}

#cc {
	padding-left: 1%;
}

h2 {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	background-color: rgb(201,187,183);
}

p.me {
	text-align: center;
}






















